*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark: #333;
  --light: #fff;
  --primary-color: midnightblue;
  --code-bg: rgb(245, 245, 245);
  --border: rgb(238, 238, 238);
  --secondary: rgb(108, 108, 108);
  --radius: 8px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--dark);
}
.container {
  padding: 1rem;
  max-width: 652px;
  margin: auto;
}

h1,
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Times New Roman", Times, serif;
  color: var(--primary-color);
}
h1 {
  font-size: 2rem;
}
p {
  margin: 1rem 0;
  line-height: 1.5;
}
a {
  color: var(--primary-color);
}
/* .content {
  margin: 2rem 0;
} */
/* navigation menu styles */
.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: end;
  padding: 0.8rem 0;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.main-index {
  margin: 2rem 0;
}

.nav-list-item {
  margin-right: 1rem;
}
.nav-list-link-item {
  text-decoration: none;
}
.nav-list-link-item:hover {
  text-decoration: underline;
  /* font-weight: bold; */
}
.tags {
  list-style: none;
}
/* list page styles */
.list {
  list-style: none;
}
.list-item {
  margin-bottom: 0.5rem;
}
.tag-list {
  display: inline;
}

.footer-text {
  font-size: 0.7rem;
}

.image-holder {
  width: 100%;
}

.inline {
  display: inline-block;
  margin-right: 0.25rem;
  margin-bottom: 3rem;
}

img.logo {
  width: 100px;
  vertical-align: bottom;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
}
.tiles-img {
  width: 100%;
  vertical-align: bottom;
  border-radius: 5px;
}

.tag-button {
  background-color: var(--code-bg);
  color: var(--black);
  border-radius: 5px;
  border: none;
  outline: none;
  text-decoration: none;
  margin: 0.25rem 0.1rem 0.25rem 0.1rem;
  padding: 0.25rem 0.5rem;
  line-height: 2;
}

.paginav {
  border-radius: var(--radius);
  background: var(--code-bg);
  border: 1px solid var(--border);
}

.paginav {
  margin: 10px 0;
  display: flex;
  line-height: 30px;
  border-radius: var(--radius);
}

.paginav a {
  padding-inline-start: 14px;
  padding-inline-end: 14px;
  border-radius: var(--radius);
  text-decoration: none;
  height: 100%;
}
.paginav a:hover {
  background: var(--border);
}
.paginav .title {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: small;
  color: var(--secondary);
}

.paginav .prev,
.paginav .next {
  width: 50%;
}

.paginav span:hover:not(.title) {
  box-shadow: 0 1px 0;
}

.paginav .next {
  margin-inline-start: auto;
  text-align: right;
}
