*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark: #333;
  --light: #fff;
  --primary-color: midnightblue;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--dark);
}
.container {
  padding: 1rem;
  max-width: 600px;
  margin: auto;
}

h1,
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Times New Roman", Times, serif;
  color: var(--primary-color);
}
h1 {
  font-size: 2rem;
}
p {
  margin: 1rem 0;
  line-height: 1.5;
}
a {
  color: var(--primary-color);
}
.content {
  margin: 2rem 0;
}
/* navigation menu styles */
.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: end;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.main-index {
  margin: 2rem 0;
}

.nav-list-item {
  margin-right: 1rem;
}
.nav-list-link-item {
  text-decoration: none;
}
.nav-list-link-item:hover {
  text-decoration: underline;
  /* font-weight: bold; */
}
/* list page styles */
.list {
  list-style: none;
}
.list-item {
  margin-bottom: 0.5rem;
}
.tag-list {
  display: inline;
}

.img-gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-text {
  font-size: 0.7rem;
}

.image-holder {
  width: 100%;
}

.inline {
  display: inline-block;
  margin-right: 0.25rem;
  margin-bottom: 3rem;
}
.tag-button {
  padding: 0.25rem;
  margin: 0.25rem 0.25rem 0.25rem 0;
  cursor: pointer;
  color: var(--dark);
}
hr {
  border: 0.5px solid rgb(174, 174, 174);
}

img.logo {
  max-width: 100px;
}

.prev-next-post-links {
  display: flex;
  justify-content: space-between;
}
.previous-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.next-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.next-label {
  text-align: right;
  font-size: 0.75rem;
  font-weight: bold;
}

.previous-label {
  font-size: 0.75rem;
  font-weight: bold;
}
.tiles {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 0.6rem;
}
.tiles-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.tag-button {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 5px;
  border: none;
  outline: none;
  text-decoration: none;
  margin: 0.25rem 0.1rem 0.25rem 0.1rem;
  padding: 0.25rem 0.5rem;
  line-height: 2;
}
