{{ define "main"}}
<main>
  <!--! Ranges through content/posts/*.md -->

  <h2>Lately...</h2>
  <section class="article-feed-container">
    {{ range first 10 .Site.RegularPages }} 
   
    
<div class="article-feed">
  <a href="{{ .Permalink }}">
    {{ $image := resources.Get (printf
    "img/%s" .Params.featured_image) }} {{ with $image }} <img src="{{
    ($image.Fill "100x100" ).RelPermalink }}" alt="" class="thumbnail-feed"/> {{
    end }}</a>
    <a href="{{.Permalink}}" class="article-feed-link"
      >{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
</div>
    {{ end }}
  </section>

  {{ .Content}} {{- partial "tags.html" . -}}
</main>

{{ end }}
